/*全体の設定*/
.container {
    /* 背景色を#f8f8f8（薄いグレー） */
    background-color: #f8f8f8;
    /* 最大幅を800pxに制限 */
    max-width: 800px;
    /* 上下左右に20pxのパディング（内側の余白）を設定 */     
    padding: 20px;
    /* フォントファミリー（文字の種類）をArialとsans-serifに設定 */
    font-family: Arial, sans-serif;
    margin: 90px auto 90px auto;
}

h1 {
    /* 文字色を#333（ダークグレー）に設定 */
    color: #333;
    /* テキストを中央寄せ */
    text-align: center;
    /* 上部のマージン（外側の余白）を50pxに設定 */
    margin-top: 50px;
}
h2 {
    /* 文字色を#333（ダークグレー）に設定 */
    color: #333;
    /* テキストを中央寄せ */
    text-align: center;
}

.trans {
    /* テキストを中央寄せ */
    text-align: center;
    /* 上部のマージン（外側の余白）を50pxに設定 */
    margin-top: 50px;
}

.image{
    display: flex;
    justify-content: center;
}

.result {
    border: 1px solid #ccc; /* 枠線 */
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px; /* 角を少し丸める */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影をつけて立体感 */
    background-color: #f5f5f5;
}
