<!DOCTYPE html>
<html>
<head>
    <title>mbtiニュース速報</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>mbtiニュース速報</h1>
    <h2>あなたのmbtiに合ったニュースをご提供します。以下の入力欄にあなたのmbtiを入れてください。</h2>
    <div class="container">
    <div class="research">
    <form action="/" method="GET">
        <!--検索バー-->
        <p>
            あなたのmbtiを入れてください<br>
            <input type="text" name="mbti" placeholder="mbti">
        </p>
        <p>
            <input type="submit"  class="button" value="送信">
        </p>
    </form>
    </div>
    {% if errors %}
    {% for error in errors %}
    <p style="color:red;">{{error}}</p>
    {% endfor %}
    {% endif %}
    
    <!--結果表示欄 (for文で列挙)-->
    結果<br> 
    {% for article in articles %}
    <div class="result">
        <h2>
            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
        </h2>
        {% if article.image %}
        <div class="image">
        <img src="{{ article.image }}" alt="News image" style="max-width:300px;">
        </div>
        <p>
            要約<br>
            {{article.description}}
        </p>

        {% endif %}
    </div>
    {% endfor %}
    </div>

    {% if mbti %}
    <div class="trans">
        {% if page > 1 %}
        <a href="/?mbti={{ mbti }}&page={{ page - 1 }}">前へ</a>
        {% endif %}
        <a href="/?mbti={{ mbti }}&page={{ page + 1 }}">次へ</a>
    </div>
    {% endif %}

</body>






</html>